<!DOCTYPE html>
<html>
	<head></head>
	<body>
	<table>
		<tr>
		  <th  style="vertical-align : middle;text-align:left; font-size: 14px;" colspan="2" scope="row">Code</th>
		  <th  style="vertical-align : middle;text-align:left; font-size: 14px;" colspan="2" scope="row">Description</th>
		</tr>
			<tr><td colspan="2">00001</td><td colspan="2">REGISTRE DE REMISE NON TROUVÉ</td></tr>
			<tr><td colspan="2">00002</td><td colspan="2">ERREUR RÉCUPÉRER UN INSERT DE REMISE, </td></tr>
			<tr><td colspan="2">00003</td><td colspan="2">RÉCUPÉRER UNE ERREUR D'AUGMENTATION DE REMISE</td></tr>
			<tr><td colspan="2">00004</td><td colspan="2">ERREUR RÉCUPÉRER PRINCIPALEMENT DES REMISES,</td></tr>
			<tr><td colspan="2">00005</td><td colspan="2">ERREUR RÉCUPÉRER UN ENREGISTREMENT DE REMISE</td></tr>
			<tr><td colspan="2">00006</td><td colspan="2">ERREUR MISE À JOUR DES ENREGISTREMENTS DE REMISE</td></tr>
			<tr><td colspan="2">00008</td><td colspan="2">ERREUR ANNULER TRANS</td></tr>
			<tr><td colspan="2">00009</td><td colspan="2">ERREUR AJUSTER TRANS </td></tr>
			<tr><td colspan="2">00010</td><td colspan="2">INSÉRER UNE ERREUR D'AUGMENTATION TRANS</td></tr>
			<tr><td colspan="2">00011</td><td colspan="2">ERREUR INSÉRER TRANS</td></tr>
			<tr><td colspan="2">00012</td><td colspan="2">ERREUR MISE À JOUR DES TOTAUX DE REMISE CRÉDITS</td></tr>
			<tr><td colspan="2">00013</td><td colspan="2">ERREUR MISE À JOUR DES TOTAUX DE REMIT DEB</td></tr>
			<tr><td colspan="2">00014</td><td colspan="2">ERREUR ANNULER TOTAUX DE REMISE CRÉDITS</td></tr>
			<tr><td colspan="2">00015</td><td colspan="2">ERREUR TOTAUX DE REMISE ANNULÉS</td></tr>
			<tr><td colspan="2">00016</td><td colspan="2">ERREUR INSÉRER BU TRANS INCREM EXCP</td></tr>
			<tr><td colspan="2">00017</td><td colspan="2">ERREUR INSÉRER BUPLOAD TRANS</td></tr>
			<tr><td colspan="2">00018</td><td colspan="2">INSÉRER BUPLOAD TRNS EXP MAIN</td></tr>
			<tr><td colspan="2">00019</td><td colspan="2">ERREUR PROCESSUS DE VENTE EN LIGNE</td></tr>
			<tr><td colspan="2">00020</td><td colspan="2">ERREUR PROC DE VENTE HORS LIGNE</td></tr>
			<tr><td colspan="2">00021</td><td colspan="2">ERREUR PROCESSUS DE REMBOURSEMENT EN LIGNE</td></tr>
			<tr><td colspan="2">00022</td><td colspan="2">ERREUR PROCESSUS DE REMBOURSEMENT HORS LIGNE</td></tr>
			<tr><td colspan="2">00023</td><td colspan="2">ERREUR AJUSTER LE PROCESSUS DE REMBOURSEMENT</td></tr>
			<tr><td colspan="2">00024</td><td colspan="2">ERREUR AJUSTER LE PROCESSUS DE VENTE</td></tr>
			<tr><td colspan="2">00025</td><td colspan="2">ERREUR ANNULER REFUND PROC</td></tr>
			<tr><td colspan="2">00026</td><td colspan="2">ERREUR PROCESSUS DE VENTE NUL</td></tr>
			<tr><td colspan="2">00027</td><td colspan="2">RÉCUPÉRER REM POUR LA PREMIÈRE ERREUR DE RÉGLAGE</td></tr>
			<tr><td colspan="2">00028</td><td colspan="2">ERREUR DE COMPTEUR DE DÉBIT</td></tr>
			<tr><td colspan="2">00029</td><td colspan="2">ERREUR DE MONTANT DE DÉBIT</td></tr>
			<tr><td colspan="2">00030</td><td colspan="2">ERREUR DU COMPTEUR DE CRÉDIT</td></tr>
			<tr><td colspan="2">00031</td><td colspan="2">ERREUR DE MONTANT DE CRÉDIT</td></tr>
			<tr><td colspan="2">00032</td><td colspan="2">ERREUR PROCESSUS DE RÈGLEMENT</td></tr>
			<tr><td colspan="2">00033</td><td colspan="2">ERREUR RÈGLEMENT APRÈS TÉLÉCHARGEMENT</td></tr>
			<tr><td colspan="2">00034</td><td colspan="2">RÉCUPÉRER LE TERMINAL DE REMISE NULL</td></tr>
			<tr><td colspan="2">00035</td><td colspan="2">AJUSTER ORIG TRANS NON TROUVÉ</td></tr>
			<tr><td colspan="2">00036</td><td colspan="2">Erreur de fin de journée de commutation</td></tr>
			<tr><td colspan="2">00037</td><td colspan="2">Erreur de fichier d'authentification bancaire</td></tr>
			<tr><td colspan="2">00038</td><td colspan="2">Erreur du journal d'authentification bancaire</td></tr>
			<tr><td colspan="2">00039</td><td colspan="2">ERREUR Sms Autho Integ</td></tr>
			<tr><td colspan="2">00040</td><td colspan="2">ERREUR TPE BATCH DUPLICATED</td></tr>
			<tr><td colspan="2">00041</td><td colspan="2">Erreur de limite globale</td></tr>
			<tr><td colspan="2">00042</td><td colspan="2">LIMITE GLOBALE</td></tr>
			<tr><td colspan="2">00043</td><td colspan="2">ERREUR METTRE À JOUR TRSF REMIT TOTALS EXPT</td></tr>
			<tr><td colspan="2">00050</td><td colspan="2">Erreur de numéro de carte</td></tr>
			<tr><td colspan="2">00051</td><td colspan="2">Erreur de type de carte</td></tr>
			<tr><td colspan="2">00052</td><td colspan="2">Erreur d'état de la carte</td></tr>
			<tr><td colspan="2">00053</td><td colspan="2">Erreur de date d'expiration de la carte</td></tr>
			<tr><td colspan="2">00054</td><td colspan="2">Erreur de rechargement de la carte</td></tr>
			<tr><td colspan="2">00055</td><td colspan="2">Erreur de routage de compte</td></tr>
			<tr><td colspan="2">00056</td><td colspan="2">Erreur d'état du compte</td></tr>
			<tr><td colspan="2">00103</td><td colspan="2">MARCHAND INVALIDE</td></tr>
			<tr><td colspan="2">00105</td><td colspan="2">ERREUR GÉNÉRALE</td></tr>
			<tr><td colspan="2">00112</td><td colspan="2">TRANS NON ADMIS</td></tr>
			<tr><td colspan="2">00113</td><td colspan="2">MONTANT INVALIDE</td></tr>
			<tr><td colspan="2">00114</td><td colspan="2">CARTE INVALIDE</td></tr>
			<tr><td colspan="2">00151</td><td colspan="2">FONDS INSUFFISANTS</td></tr>
			<tr><td colspan="2">00154</td><td colspan="2">CARTE EXPIRÉE</td></tr>
			<tr><td colspan="2">00158</td><td colspan="2">TRANS NON AUTORISÉ À DURER</td></tr>
			<tr><td colspan="2">00161</td><td colspan="2">MONTANT DÉPASSÉ</td></tr>
			<tr><td colspan="2">00165</td><td colspan="2">COMPTEUR DÉPASSÉ</td></tr>
			<tr><td colspan="2">00173</td><td colspan="2">CVR DECLINE</td></tr>
			<tr><td colspan="2">00174</td><td colspan="2">TVR DECLINE</td></tr>
			<tr><td colspan="2">00180</td><td colspan="2">POS BATCH DUPLICATED</td></tr>
			<tr><td colspan="2">00191</td><td colspan="2">ÉMETTEUR NON DISPONIBLE</td></tr>
			<tr><td colspan="2">00195</td><td colspan="2">ERREUR POST BATCH SETTLMNT</td></tr>
			<tr><td colspan="2">00196</td><td colspan="2">DYSFONCTIONNEMENT DU SYSTÈME</td></tr>
			<tr><td colspan="2">00204</td><td colspan="2">CAPTURE DE CARTE</td></tr>
	</table>			  
	</body>
</html>